.main_container {
  border-style: solid;
  border-color: rgb(232, 232, 232);
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container_files {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
 /* margin: 6px auto;
  max-width: 960px;
  padding: 0;
  height: auto; */

}